.nav {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-items: center;
    background-color:orange;
}
.nav-links {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    outline:dotted red;
}

.nav-link {
    padding:1rem;
}
