.select-dropdown{
    padding:.5rem;
    font-size:1rem;
    font-family: 'Raleway','Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size:1rem;
}